.body {
  background-color: #f4f4f4;

}

.main {
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 100vh;

}


.splitterContainer {
  overflow: auto;
  border-left: 1px solid #9099a2;
  cursor: col-resize;
  width: 2px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); /* Adjust the values as needed */


}

.leftSide {
  display: felx;
  max-width: 450px;
  min-width: 350px;
  margin: 15px;

}

.rightSide {
  margin: 15px;
  display: felx;
  width: 100%;
}

